*{
  margin: 0;
  padding: 0;
}

.container{
  margin: 10px;
}

.result{
  width: 213px;
  height: 50px;
  font-size: 24px;
  margin-bottom: 7px;
  text-align: right;
  padding-right: 5px;
  background-color: black;
  color: white;
}


.button-view{
 width:50px;
 height: 50px;
 font-size:16px;
  
}

.button-view + .button-view{
  margin-left: 2px;
}

.wide-button-view{
  width: 108px;
  height: 50px;
  font-size: 16px;
}

.wide-button-view + .wide-button-view{
  margin-left: 2px;
}

.line + .line{
  margin-top: 7px;
}